<section class="container">
  <table *ngIf="produtos | async as prods" class="table">
      <tr>
          <th> ID </th>
          <th> Nome </th>
          <th> Descrição </th>
          <th> Quantidade </th>
          <th> Valor </th>
          <th> Status </th>
          <th>Editar</th>
          <th>Apagar</th>
      </tr>
      <tr *ngFor="let p of prods">
          <td>{{p.key}}</td>
          <td>{{p.nome}}</td>
          <td>{{p.descricao}}</td>
          <td>{{p.quantidade}}</td>
          <td>{{p.valor}}</td>
          <td>{{p.ativo}}</td>
          <td (click)="editar(p)">/</td>
          <td (click)="apagar(p)">X</td>
      </tr>
  </table>
</section>