    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" required placeholder="CEP" [(ngModel)] ="endereco.cep" name="cep">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" required placeholder="Endereço" [(ngModel)] ="endereco.logradouro" name="logradouro">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" required placeholder="Bairro" [(ngModel)] ="endereco.bairro" name="bairro">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" required placeholder="Cidade" [(ngModel)] ="endereco.localidade" name="localidade">
        <small class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" required placeholder="Estado" [(ngModel)] ="endereco.uf" name="uf">
        <small class="form-text text-muted"></small>
    </div>